@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);



























#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#form2-6 .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 29px;
}
#form2-6 .btn {
  font-family: 'Oxygen', sans-serif;
}

#jj .btn {
    font-family: 'Oxygen', sans-serif;
    font-size:30px;
}

#msg-box4-10 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
  text-align: left;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #ffffff;
}
#msg-box4-10 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
  text-align: left;
}
#msg-box4-10 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-5 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
}
#msg-box5-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-5 .mbr-article {
  color: #ffffff;
}
#msg-box5-5 .mbr-article P {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box5-5 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-5 .mbr-article H2 {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
  text-align: left;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
}
#content5-15 .mbr-article P {
  font-size: 22px;
  text-align: center;
  color: #efefef;
}
#content5-15 .btn {
  font-family: 'Oxygen', sans-serif;
}
#content5-15 .mbr-article H3 {
  color: #ffffff;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 21px;
}
#msg-box5-4 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-4 .mbr-article {
  color: #ffffff;
}
#msg-box5-4 .mbr-article P {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
}
#msg-box5-4 .btn {
  font-family: 'Oxygen', sans-serif;
}
#msg-box5-4 .mbr-article H2 {
  color: #ffffff;
  font-size: 21px;
  font-family: 'Oxygen', sans-serif;
}
#content4-27 P {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#content4-27 .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-size: 22px;
  font-family: 'Oxygen', sans-serif;
}
#content4-27 .mbr-section-title .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#content4-27 .mbr-section__col .mbr-header__text P {
  font-size: 22px;
}
#msg-box4-20 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}
#msg-box4-20 .mbr-article P {
  color: #ffffff;
  font-size: 21px;
  font-family: 'Oxygen', sans-serif;
  text-align: left;
}
#msg-box4-20 .btn {
  font-family: 'Oxygen', sans-serif;
}
#social-buttons2-10 .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
}
#contacts3-18 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-18 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-18 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-18 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
























#ext_menu-18 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#ext_menu-18 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-19 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  font-size: 48px;
}
#content5-19 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-19 .mbr-article {
  color: #fff;
}
#content5-19 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#features1-25 .mbr-section__col .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#features1-25 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  text-align: center;
}
#features1-25 .mbr-section__col .mbr-header__text P {
  text-align: center;
}
#content1-40 P {
  font-size: 18px;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#content1-40 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-40 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-40 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#content1-40 DIV {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-40 UL {
  font-size: 18px;
}
#content1-41 P {
  font-size: 18px;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#content1-41 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-41 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-41 SPAN {
  font-family: 'Oxygen', sans-serif;
}
#content1-41 H1 {
  font-size: 30px;
}
#content1-48 P {
  font-family: 'Oxygen', sans-serif;
}
#content1-48 H2 {
  font-size: 30px;
  font-family: 'Oxygen', sans-serif;
}
#content1-48 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-48 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-51 H2 {
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}
#content1-51 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-51 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-51 P {
  font-family: 'Oxygen', sans-serif;
}
#content1-49 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-49 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-49 H2 {
  font-size: 30px;
}
#content1-50 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-50 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-50 H5 {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  color: #777777;
}
#content1-50 H2 {
  font-size: 30px;
}
#contacts3-21 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-21 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-21 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-21 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}





#ext_menu-29 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#ext_menu-29 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-30 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 46px;
}
#content5-30 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-30 .mbr-article {
  color: #fff;
}
#content1-31 DIV {
  text-align: left;
}
#content1-31 P {
  font-size: 18px;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#content1-31 H3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#content1-31 H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #777777;
}
#content1-31 SPAN {
  font-family: 'Oxygen', sans-serif;
}
#content1-31 H1 {
  font-size: 30px;
}

#contacts3-32 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-32 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-32 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-32 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}











#ext_menu-42 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-42.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#ext_menu-42 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-42 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-43 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-family: 'Oxygen', sans-serif;
}
#content5-43 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-43 .mbr-article {
  color: #fff;
}
#msg-box4-46 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-46 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-46 .mbr-article {
  color: #ffffff;
}
#msg-box4-46 .mbr-article P {
  font-size: 19px;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-46 .mbr-article H5 {
  color: #ffffff;
}
#msg-box4-46 .mbr-article H4 {
  color: #ffffff;
  font-size: 14px;
}
#msg-box4-46 .mbr-header__text SPAN {
  font-family: 'Indie Flower', cursive;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-family: 'Oxygen', sans-serif;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
}
#content5-47 .mbr-article P {
  color: #252525;
  font-family: 'Oxygen', sans-serif;
  font-size: 19px;
}
#contacts3-45 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-45 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-45 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-45 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}







#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#ext_menu-25 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-25 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-26 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-family: 'Oxygen', sans-serif;
}
#content5-26 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-26 .mbr-article {
  color: #fff;
}
#content1-27 DIV {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 19px;
  color: #252525;
}
#content1-27 P {
  font-size: 19px;
  color: #252525;
}
#content1-27 H3 {
  font-size: 18px;
  color: #777777;
}
#contacts3-28 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-28 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-28 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-28 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}







#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#ext_menu-16 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-family: 'Oxygen', sans-serif;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
}
#content1-12 DIV {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
}
#content1-12 P {
  color: #000000;
  font-size: 19px;
}
#content1-12 H3 {
  font-size: 18px;
  text-align: left;
  color: #777777;
}
#contacts3-18 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-18 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-18 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-18 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}













#ext_menu-53 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-53.mbr-navbar--stuck .mbr-navbar__section {
  background: #313238;
}
#ext_menu-53 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-53 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-54 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-family: 'Oxygen', sans-serif;
}
#content5-54 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-54 .mbr-article {
  color: #fff;
}
#content5-54 .mbr-article P {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
#content1-55 P {
  font-family: 'Oxygen', sans-serif;
  color: #777777;
  font-size: 19px;
}
#content1-55 H3 {
  font-size: 20px;
  color: #252525;
  font-family: 'Oxygen', sans-serif;
}
#content1-55 H4 {
  font-size: 18px;
  color: #777777;
  font-family: 'Oxygen', sans-serif;
}
#content1-55 H2 {
  font-size: 19px;
  color: #777777;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-56 .mbr-header__text {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-56 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-56 .mbr-article {
  color: #ffffff;
}
#msg-box4-56 .mbr-article P {
  color: #252525;
}
#msg-box4-56 .mbr-article H4 {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  color: #ffffff;
}
#contacts3-57 B {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-57 P {
  font-family: 'Oxygen', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#contacts3-57 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
#contacts3-57 DIV {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
.mbr-social-icons {
width: 100%;
}